body{
	background-color: #EEEEEE;
	margin: 0;
	padding: 0;
}
.background{
	width: 100%;
	background: url("u6.jpg");
	background-repeat:no-repeat;
	background-position: center;
    background-size:cover;
	height: 100%;
}
.welcome_button{
    position: absolute;
    top: 60%;
    left: 25%;
	width: 50%;
	background-color: orange;
	font-size: 20px;
	text-align: center;
	padding:10px 0;
	color: white;
    border-radius: 10px;
}
.icons {
    height: 5%;
    bottom: 2%;
    width: 100%;
    position: absolute;
}
.icon_sap {
    background: url("u10.png");
    background-repeat:no-repeat;
    background-size:contain;
    height: 100%;
    width: 90%;
    display: inline-block;
    position: relative;
    left: -70px;
}
.icon_sia {
    background: url("u12.png");
    background-repeat:no-repeat;
    background-size:contain;
    height: 100%;
    width: 90%;
    display: inline-block;
    position: relative;
    right: -39%;
}