body {
	background:#7de2ff;
	min-height:0
}
.container {
	margin:0 auto;
	height: 680px;
	width:100%;
	position:relative;
	background:url(https://cloud.githubusercontent.com/assets/5023687/4875409/d4884750-6295-11e4-80ee-8b1130a04cab.png) center top no-repeat
}
.dialog {
	background:url(https://cloud.githubusercontent.com/assets/5023687/4875410/d49527c2-6295-11e4-9acc-2a9711ae11cf.png) no-repeat;
	width:425px;
	height:190px;
	position:absolute;
	bottom:166px;
	left:206px;
	z-index:3000;
}
.dialog .text{
	margin:50px 50px 0 86px;
	font-size:14px;
	line-height:20px
}
.dialog .text strong {
	font-size:18px
}
.city {
	background:url(https://cloud.githubusercontent.com/assets/5023687/4875408/d4440efa-6295-11e4-9cc5-b360b8ae9bea.png);
	width:100%;
	height:93px;
	position:fixed;
	bottom:0
}
